@charset "utf-8";

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto_300.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto_700.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: 400;
  src:  url(../fonts/NotoSansMalayalam-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansMalayalam-Bold.woff2) format('woff2');
}
.header{
    /*background-color: #e10000;*/
    background-color: #333;
    padding: 25px 0px;
}
.bd_clear{
    clear: both;
}
.logo a{
    display: inline-block;
    margin-right: 16px;
    float: left;
}
.logo_desc{
    float: left;
}
.logo_desc h3,
.logo_desc h4{
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    margin: 0px;
}
.logo_desc h3{
    font-size: 27px;
}
.logo_desc h4{
    font-size: 22px;
}
.nav_wrap{
    width: 100%;
    background-color: #b50000;
    padding: 10px 0px;
}
ul.navigation{
    margin: 0px;
    padding: 0px;
    float: left;
}
ul.navigation > li{
    list-style: none;
    float: left;
}
ul.navigation > li > a{
    display: block;
    color: #FFF;
    text-transform: capitalize;
    font-size: 18px;    
    padding: 5px 15px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
ul.navigation > li > a:hover{
    color: #fe7878;
    text-decoration: none;
}
ul.navigation > li:first-child a{
    padding-left: 0px;
}
.soc{
    float: right;
    position: relative;
}
.soc a{
    display: inline-block;
    color: #FFF;
    font-size: 21px;
    padding: 5px 5px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.soc a:active,
.soc a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.soc a:hover{
    color: #fe7878;
}
.soc span{
    display: inline-block;
    width: 116px;
}
.soc span img{
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 0px;
    margin-bottom: -10px;
}
.banner_wrap{
    box-shadow: 0 5px 10px -5px #333;
}
.wel_wrap{
    margin: 70px auto;
}
.welcome_text h3{
    font-size: 30px;
    color: #3d3d3d;
    margin: 0px 0px 5px 0px;
}
.welcome_text h2{
    font-size: 34px;
    font-weight: bold;
    color: #3d3d3d;
    margin: 0px 0px 5px 0px;
}
.wel_kannur h4{
    display: inline-block;
    color: #ed1b24;
    font-size: 22px;
    font-weight: bold;
}
.wel_kannur span{
    display: inline-block;
    height: 14px;
    width: 30%;
    background: url(../images/wel_border.png) no-repeat right center;
    margin-left: 15px;
}
.welcome_text p{
    color: #000;
    font-size: 16px;
    text-align: justify;
}
.wel_lnk a{
    display: inline-block;
    color: #ed1b24;
    font-size: 16px;
    font-weight: bold;
}
.news_wrap{
    background: url(../images/news_bg.jpg) no-repeat top center;
    background-attachment: fixed;
    margin-bottom: 70px;
}
.news_inner{
    background-color: rgba(237, 27, 36, 0.7);
    padding: 40px 0px;
}
.hm_news_slider_wrap{
    background-color: #FFF;
    padding: 15px;
}
.hm_news_slider_wrap h2{
    font-size: 25px;
    color: #242424;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0px;
}
.hm_news_head span.hm_news_date{
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: -20px;
}
.hm_news_date span.date{
    display: inline-block;
    color: #ed1b24;
    font-size: 50px;
    font-weight: bold;
}
span.month{
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin-top: -22px;
}
.hm_news_controls{
    text-align: right;
    margin-top: 34px;
}
.hm_news_controls a{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #dbdbdb;
    border: 2px solid #dbdbdb;
    margin: 0px 3px;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hm_news_controls a:active,
.hm_news_controls a:focus{
    color: #dbdbdb;
    text-decoration: none;
    outline: none;
}
.hm_news_controls a:hover{
    color: #b50000;
    border-color: #b50000;
}
.hm_news_slider_inner p{
    margin-top: 30px;
}
.hm_news_head h3{
    font-size: 16px;
    font-weight: bold;
}
.martyr_wrap{
    background-color: #FFF;
    padding: 15px 15px 35px 15px;
}
.martyr_wrap h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.martyr_block{
    float: left;
    width: 33.33333333%;
    padding: 0px 10px;
}
.martyr_block img{
    max-width: 100%;
}
.martyr_block p{
    text-align: center;
    margin-top: 10px;
}
.gallery_head{
    text-align: center;
    background: url(../images/gal_brdr.png) no-repeat center;
    margin-bottom: 30px;
}
.gallery_head h3{
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin-top: 4px;
}
.gal_slider_wrap{
    /*background-color: #e10000;*/
    background-color: #9c0101;
    padding: 40px 30px;
    margin-bottom: 50px;
}
.gal_slider_wrap .nbs-flexisel-item img{
    padding: 9px;
    background-color: #FFF;
}
.gal_slider_wrap .nbs-flexisel-nav-left{
    margin-left: -30px;
}
.gal_slider_wrap .nbs-flexisel-nav-right{
    margin-right: -30px;
}
.footer{
    /*background-color: #e10000;*/
    background-color: #333;
    color: #FFF;
    padding: 40px 0px;
}
.footer_logo a{
    display: inline-block;
    float: left;
    max-width: 142px;
    margin-right: 10px;
}
.footer_logo a img{
    max-width: 100%;
}
.footer_logo_desc{
    float: left;
}
.footer_logo_desc h3{
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    margin-top: 0px;
}
.footer_soc{
    text-align: center;
}
.footer_soc a{
    display: inline-block;
    color: #FFF;
    font-size: 21px;
    padding: 5px 5px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer_soc a:active,
.footer_soc a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.footer_soc a:hover{
    color: #fe7878;
}
.copy{
    font-size: 17px;
    font-weight: 300;
    text-align: right;
}
.copy p{
    margin-bottom: 0px;
}
.nav_trigger{
    display: none;
    width: 40px;
    height: 27px;
    line-height: 30px;
    font-size: 21px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav_trigger:hover{
    color: #fe7878;
    border-color: #fe7878;
}

.martyr_wrap .nbs-flexisel-item img{
    max-width: 130px;
}
.martyr_wrap .nbs-flexisel-nav-left,
.martyr_wrap .nbs-flexisel-nav-right{
    display: none;
}
.page_head{
    background: url(../images/gal_brdr.png) no-repeat center;
    margin: 30px 0px;
    text-align: center;
}
.page_head h3{
    text-transform: uppercase;
    font-size: 24px;
    margin: 0px;
    display: inline-block;
    font-weight: bold;
    padding-top: 7px;
}
.page_head_large{
    background: url(../images/gal_brdr2.png) no-repeat center;
}

#lightgallery a{
    display: block;
    width: 25%;
    float: left;
    padding: 3px;
    position: relative;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#lightgallery a img{
    width: 100%;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.aover{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: rgba(0, 0, 0, 0.5) url(../images/zoom.png) no-repeat center;
}
#lightgallery a:hover .aover{
    opacity: 1;
}
#lightgallery a:hover img{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.pop_inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gal_wrap{
    margin-bottom: 30px;
}
.martyr_para p{
    text-align: justify;
}
.contact_ico img{
    max-width: 100%;
    margin: 0 auto;
}
.contact_ico{
    margin-bottom: 15px;
    text-align: center;
}
.contact_desc p{
    text-align: center;
    font-size: 18px;
}
.form_block{
    margin-bottom: 15px;
}
.form_block label{
    display: block;
    width: 100%;
}
.form_block input[type="text"],
.form_block input[type="email"],
.form_block textarea{
    width: 100%;
    border: 1px solid #666;
    display: block;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px
}
.form_block input[type="text"],
.form_block input[type="email"]{
    height: 34px;
}
.form_block textarea{
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
    padding-top: 10px;
}
.form_block input[type="submit"]{
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    font-size: 17px;
    border: none;
    background-color: #e10000;
    border-radius: 5px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form_block input[type="submit"]:hover{
    background-color: #9c0101;
}
.contact_desc a{
    color: #e10000;
}
.martyr_img img{
    max-width: 100%;
}
.about_wrap h3{
    font-size: 23px;
}
.about_wrap ul > li{
    list-style: square;
}
p.about_text{
    padding: 0px 60px;
    text-align: justify;
}




















/* Media queries */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    ul.navigation > li > a{
        padding: 5px 7px;
    }
    .soc span{
        display: none;
    }
    .footer_logo a{
        max-width: 100px;
    }
    .footer_logo_desc h3{
        font-size: 20px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 767px){
    ul.navigation{
        position: absolute;
        margin-top: 20px;
        z-index: 99999;
        width: 100%;
        margin-left: -15px;
        display: none;
    }
    ul.navigation > li{
        float: none;
    }
    ul.navigation > li > a{
        display: block;
        background: rgba(181, 0, 0, 0.9);
        text-align: center;
        padding: 5px 0px;
    }
    .nav_trigger{
        display: inline-block;
    }
    .logo a{
        float: none;
    }
    .logo_desc{
        float: none;
        margin-top: 15px;
    }
    .footer_logo{
        text-align: center;
    }
    .footer_logo_desc{
        display: inline-block;
        float: none;
        vertical-align: middle;
        padding-top: 17px;
        text-align: left;
    }
    .footer_logo a{
        float: none;
        vertical-align: middle;
    }
    .copy{
        text-align: center;
    }
    .martyr_wrap{
        margin-top: 30px;
    }
    #lightgallery a{
        margin: 0 auto;
        width: 50%;
    }
    .pro_head_inner{
        width: 80%;
    }
    .martyr_img{
        margin-top: 30px;
    }
    p.about_text{
        padding: 0px 15px;
    }
}
@media only screen and (max-width: 570px){
    .soc span{
        width: 45px;
    }
    .soc span img{
        height: 60px;
    }
    .logo{
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    .footer_logo a{
        margin-right: 0px;
        display: block;
        width: 142px;
        margin: 0 auto;
    }
    .footer_logo a img{
        margin: 0 auto;
    }
    .footer_logo_desc{
        text-align: center;
    }
}
@media only screen and (max-width: 299px){
    #lightgallery a{
        width: 100%;
        float: none;
    }
}



















